* {
    margin: 0%;
    padding: 0%;
    border: 0cm;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #fdfbd4;
}

.main {
    margin: 1rem 0 1.5rem 0;
    position: fixed;
    display: flex;
    justify-content: center;
    left: 14rem;
    z-index: 999;
}

.main_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.nav_content_left {
    display: flex;
    left: 2rem;
    background-color: #050505;
    padding: 10px 25px 10px 25px;
    border-radius: 25px;

}

.nav_content_right {
    display: flex;
    left: 2rem;
    background-color: #050505;
    padding: 10px 25px 10px 25px;
    border-radius: 25px;
}
.content_list{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.link1,
.link2,
.link3 {
    color: #fdfbd4;

}
