* {
    margin: 0%;
    padding: 0%;
    border: 0cm;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    /* background-color: #fdfbd4; */
}

@media screen and (min-width : 1024px) {
    .main {
        margin: 1rem 0 1.5rem 0;
        position: fixed;
        display: flex;
        justify-content: center;
        left: 14rem;
        z-index: 999;
    }

    .main_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    .nav_content_left {
        display: flex;
        left: 2rem;
        background-color: #050505;
        padding: 10px 25px 10px 25px;
        border-radius: 25px;

    }

    .nav_content_right {
        display: flex;
        left: 2rem;
        background-color: #050505;
        padding: 10px 25px 10px 25px;
        border-radius: 25px;
    }

    .content_list {
        display: flex;
        flex-direction: row;
        gap: 50px;
        align-items: center;
        justify-content: center;

    }

    .link1,
    .link2,
    .link3 {
        color: #fdfbd4;
        font-family: typewritter;
    }

    .page1_content {
        background-color: #fdfbd4;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 25%;
        align-items: center;

        /* padding: 20rem 20rem 20rem 20rem; */
        h1 {
            font-size: 40px;
            font-weight: 550;
            font-family: typewritter;
        }

        /* #title{
            padding-left: 2048px;
        } */
    }

    .page1_container {
        /* padding-top: 1000px; */
        width: 100%;
        height: 100%;
        /* display: flex; */
        position: relative;
        z-index: 99;
    }

    .page2_container {
        position: absolute;
        background-color: #fdfbd4;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 150px;
    }

    .page2_content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 10%;
        z-index: 999;

        #overview {
            font-family: typewritter;
            font-size: 30px;
            font-weight: lighter;
            opacity: 0;
            scale: .5;
        }
    }

    footer {
        display: flex;
        width: 100%;
        height: 20%;
        background-color: #000000;
        bottom: 0%;
        position: fixed;
        padding: 50px 100%;
    }
    .slide_card{
        width: 100%;
        height: 100%;
        background-color: #ff0000;
    }
    .card1{
        width: 200px;
        height: 400px;
        background-color: #000000;
    }
}



/* --------------------------------------------------------- */




@media (max-width: 768px) {
    .main {
        margin: 1rem 0 1.5rem 0;
        position: fixed;
        display: flex;
        justify-content: center;
        left: 1rem;
        z-index: 999;
    }

    .main_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    .nav_content_left {
        display: flex;
        left: 2rem;
        background-color: #050505;
        padding: 10px 25px 10px 25px;
        border-radius: 25px;

    }

    .nav_content_right {
        display: flex;
        left: 2rem;
        background-color: #050505;
        padding: 10px 25px 10px 25px;
        border-radius: 25px;
        font-size: 8px;
    }

    .content_list {
        display: flex;
        flex-direction: row;
        gap: 50px;
        align-items: center;
        justify-content: center;
        font-size: 8px;

    }

    .link1,
    .link2,
    .link3 {
        color: #fdfbd4;
        font-family: typewritter;
    }


    .page1_container {
        /* padding-top: 12rem; */
        padding: 80px;
    }

    .page1_content {
        font-family: typewritter;

        #title {
            font-size: 16px;
        }

        #sub_title {
            font-size: 16px;
        }

    }

    .page2_container {
        padding: 80px;

        p {
            font-family: typewritter;
        }
    }

    footer {
        display: flex;
        width: 100px;
        background-color: #000000;
        bottom: 0%;
        position: fixed;
        padding: 50px 100% 50px 100%;
    }

}