*{
    margin: 0%;
    padding: 0%;
    border: 0cm;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #94518c;
}
/* .nav_content{} */

.content_list{
    padding:1rem 0 1rem 0;
    background-color: #a297d8;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
.link1,.link2,.link3{
    color: #482635;
}